#oncore_config,
#consent_logic,
#oncore_mapping,
#redcap_mapping{
    margin:3rem 0 3rem;
}

#consent_logic h2,
#oncore_mapping h2,
#oncore_mapping h3, 
#redcap_mapping h2, 
#oncore_config h2,
#study_sites h2{
    font-size:160%;
}

#oncore_mapping th {
    position:relative;
}
.show_all_matched {

}

form.oncore_match{
    position:relative;
}

#oncore_mapping ul.nav-tabs{
    position:relative;
}
#refresh_syncdiff{
    position:absolute;
    right:0;
}
#refresh_syncdiff i{
    display:inline-block;
    margin-right:5px;
    vertical-align: bottom;
}

td.import,
td.link_status{
    text-align:center;
}
tr.match td{
    background:#F9F9F9;
}
tr.match td.data{
    color:#0f6b58;
}

tr td.rc_data,
tr td.oc_data{
    display:none;
}

tr td.rc_data.showit,
tr td.oc_data.showit{
    display:table-cell;
}

tr.diff td:not(.rc_id, .import, .adj_status, .adj_notes, .ts_last_scan, .link_status), .missing-status {
    background: #f2dede !important;
}

tr.diff td.data {
    color: #e74c3c;
    font-weight: bold;
}

.oc_field {
    color:#0098db;
}
.oc_field span {
    color:#e74c3c;
}

button.include_subject,
button.exclude_subject{
    display:inline-block;
    margin-top:10px;
}

button.disabled,
.disabled .oc_field span,
.disabled tr.match td,
.disabled tr.diff td {
    background:#efefef !important;
    color:#b3b3b3 !important;
}

td.import,
td.ts_last_scan,
td.rc_id,
td.oc_data,
td.link_status{
    border-left:1px solid #B9B9B9;
}

.check_all {

}

table.excludes .import *{
    display:none;
}





.not_integrated {
    color: #800000;
}

.integrated {
    color: green;
}

.enable_oncore {
    margin-left: 5px;
}

.oncore_mapping {
    color: #9b5111
}

.oncore_results {
    color: #0098db
}

.summary_oncore_adjudication {
    list-style: none;
    margin: 0;

    padding: 0;
}

.summary_oncore_adjudication li {
    display: inline-block;
}

.summary_oncore_adjudication li:after {
    content: "|";
    margin: 0 5px;
}

.summary_oncore_adjudication li:last-child:after {
    content: "";
    margin: initial;
}

.integrate_oncore{
    white-space: nowrap;
}
.integrate_oncore i.fa{
    font-size: 12px;
    color: #333;
    display:none;
    margin-right:3px;
}
.integrate_oncore.oncore_link_working i.fa{
    display:inline-block;
}

.confirm_link{
    display:block;
    vertical-align:baseline;
    font-weight:bold;
    margin-top:3px;
    color:#5DA1B6;

    visibility: hidden;
    position: absolute;
    z-index:-99;
}
.confirm_link input {
    vertical-align: middle;
}


.dropdown-toggle.integrate_oncore {
    text-decoration: none;
    display:inline-block;
}

.injected_line {
}

.injected_line .dropdown,
.injected_line .button_div{
    display:table-cell;
}

.injected_line .dropdown-item{
    padding:.25rem .5rem
}

.injected_line span{
    display:table-cell;
    padding-left:5px;
}

.no_matching_library{
    color:red;
    white-space:nowrap;
}



#blockingOverlay .show_all_matched,
#blockingOverlay .submit_pushToOnCore, 
#blockingOverlay .submit_pullFromOnCore,
#blockingOverlay .submit_adjudicatePartial,
#blockingOverlay .exclude_subject, 
#adjudicate_partials, 
#refresh_sync_diff, 
#push_data,
#pull_data {
    font-size:1.5rem;
}
