#field_mapping td{
    position:relative;
}
#field_mapping .loading{
    position:relative;
}

#field_mapping .required{
    color:darkred;
}

#oncore_fields{
    margin:50px 0 50px;
    display:none;
}
#oncore_fields ul {
    margin:0;
    padding:10px;
    list-style:none;
    box-shadow: 0 0 3px 1px #ccc;
    border-radius: 3px;
}

#oncore_fields li {
    display:inline-block;
    width:33%;
    position:relative;
    padding:0;
    margin:0 0 10px 0;
    vertical-align: top;
}

#oncore_fields li label{}

#oncore_fields li input{
    position:absolute;
    top:50%; left:15px;
    transform: translateY(-30%)
}

#oncore_fields li span{
    display: flex;
    justify-content:center;
    flex-direction: column;

    width:95%;
    min-height:54px;
    line-height:100%;
    border-radius: 3px;
    padding:10px 10px 10px 35px;
    font-size:120%;
    color:#aaa;
    background:#F7F7FA;
}

#oncore_fields input:checked + span{
    background:#E9F4F4;
    color:#1B2E2E;
}

.nav-tabs i.fa-check-circle {
    color: #5cb85c;
    padding: 5px;
}

.nav-tabs i.fa-times-circle {
    color: #da4f49;
    padding: 5px;
}

.td_oc_field{ width:35% }
.td_rc_field{ width:35% }
.td_rc_event{ width:15% }
.td_pull{ width:15% }
.td_push{ width:15% }

.td_oc_vset,
.td_rc_vset{
    width:35%;
    font-size:100%;

}
.td_map_status{
    width:15%;
    font-size:100%;
}
.td_vset_spacer {width:15%}

.td_oc_vset,
.td_rc_vset,
.td_map_status,
.td_vset_spacer{
    padding-bottom:5px;
    border-bottom:1px solid #000 !important;
}

.value_map .info{
    font-size:92%;
    color:grey;
}
.value_map .info .alert{
    display:inline-block;
    margin-bottom:10px;
}
.value_map .info .alert-danger{
    color:darkred;
}

tr.required td{
    color:initial;
}

tbody tr.required td:first-child:after{
    content:"*";
}
tbody tr.notrequired td{
    display:none;
}
tr.show_optional td {
    text-align:left;
}
.table .centered { text-align:center; }

tr.more td {
    border-top:initial;
    padding-top: 0;
    padding-bottom: 1.25rem;
}

.nav-tabs .ok i.fa-times-circle,
.nav-tabs i.fa-check-circle,
td.value_map_status.ok .fa-times-circle,
td.value_map_status .fa-check-circle,
td.status.ok .fa-times-circle,
td.status .fa-check-circle{
    display:none;
}

.nav-tabs .ok i.fa-check-circle,
td.value_map_status.ok .fa-check-circle,
td.status.ok .fa-check-circle{
    display:inline-block;
}

table.value_map{
    width:100%;
}

table.value_map th,
table.value_map td{
    padding:0 0 .5em 0;
}

table.value_map th {
    background: #fff !important;
    border: initial !important;
}



#field_mapping tr.more{

}
.table-nostriped tbody tr:nth-of-type(odd) {
    background-color:transparent;
}
#field_mapping select{
    background-color:#F5E4CD;
    background-color:#E9CACB;
}
#field_mapping select.ok{
    background-color:#DDE9D3;
}



.map_dir{
    font-size:120%;
    margin-bottom:20px;
}

#field_mapping .optional{
    display:none;
}

#oncore_prop_selector {
    position:initial;
    display:block;
    margin-bottom:10px;
}
#oncore_prop_selector .dropdown-menu{
    max-width:300px;
}



#show_optional{
    margin:5px 0;
}

.delete_pull_prop{
    cursor:pointer;
}

.map_arrow{
    float:right;
    margin:5px;
}
.value_map .map_arrow{
    margin: 5px 10px;
}


#field_mapping button.loading::after{
    top: 0px;
    right: 5px;
}
#field_mapping button.loading{
    padding-right:40px;
}

#field_mapping .loading::after {
    top: 12px;
    right: 25px;
}


#study_sites{
    margin-bottom:50px;
}
#study_sites ul {
    margin:0;
    padding:10px;
    list-style:none;
    box-shadow: 0 0 3px 1px #ccc;
    border-radius: 3px;
}

#study_sites li {
    display:inline-block;
    width:33%;
    position:relative;
    padding:0;
    margin:0 0 10px 0;
    vertical-align: top;
}

#study_sites li label{}

#study_sites li input{
    position:absolute;
    top:50%; left:15px;
    transform: translateY(-30%)
}

#study_sites li span{
    display: flex;
    justify-content:center;
    flex-direction: column;

    width:95%;
    min-height:54px;
    line-height:100%;
    border-radius: 3px;
    padding:10px 40px 10px 35px;
    font-size:120%;
    color:#aaa;
    background:#F7F7FA;
}

#study_sites input:checked + span{
    background:#E9F4F4;
    color:#1B2E2E;
}
