/* ----- General ----- */
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #f4f4f4; }
  
  dt,
  dd,
  li {
    line-height: 1.5em; }
  
  /*doc
  ---
  title: Typography
  name: headings
  category: Basics
  ---
  
  <h2 class="styleguide">Headings</h2>
  All HTML headings, `<h1>` through `<h6>`, are available. Start with `<h2>` for content headings.
  
  ```html_example
  <h1>h1. Heading One</h1>
  <h2>h2. Heading Two</h2>
  <h3>h3. Heading Three</h3>
  <h4>h4. Heading Four</h4>
  <h5>h5. Heading Five</h5>
  <h6>h6. Heading Six</h6>
  ```
  */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #2e2d29; }
  
  h1 {
    font-weight: 300;
    letter-spacing: -0.04em;
    font-size: 3em;
    line-height: 1.3em; }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 2.5em; } }
  
  .front .main {
    padding-top: 20px; }
  
  /* ----- Content ----- */
  h1 {
    margin-top: 0; }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #820000; }
  
  h2 {
    font-size: 18px;
    margin: 0 0 12px 0;
    padding: 0;
    text-transform: none;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: 0.02em; }
  
  h2,
  h2 a,
  h2 a:hover,
  h2 a:focus {
    color: #820000; }
  
  .content-head {
    margin-bottom: 0; }
  
  .content .sidebar h2 {
    text-transform: none; }
  
  em {
    font-weight: 400; }
  
  .center {
    text-align: center; }
  
  /* ----- Links ----- */
  .normal-link a:hover,
  .normal-link a:focus,
  .normal-link h2 a:hover,
  .normal-link h2 a:focus,
  .normal-link h3 a:hover,
  .normal-link h3 a:focus {
    text-decoration: none; }
  
  a.more-link,
  .more-link a {
    font-weight: 400; }
  
  p a.more-link {
    border-bottom: 0; }
  
  /* ----- Button Link ----- */
  a.btn {
    font-weight: 400; }
  
  /* ----- Sidebar Menu ------------------ */
  .node-type-service-information #main .sidebar .block-menu-block h2 a,
  .node-type-service-information #main .sidebar .block-menu-block ul.menu {
    font-size: 14px; }
  
  .node-type-service-information #main .sidebar .block-menu-block ul.menu li a {
    margin: -2px 0 0 0px; }
  
  .sidebar .block-menu .content > .menu > li.last,
  .sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
    border-bottom: none; }
  
  .sidebar .block-menu .content > .menu > li > a,
  .sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
    border-top: none; }
  
  /* ----- Google Custom Search ----- */
  tbody {
    border: none; }
  
  /* ----- Front Page ----- */
  .well,
  #sidebar-second .well-sidebar-only {
    padding-top: 15px; }
  
  .front #front-services h2 {
    font-size: 18px; }
  
  .front #front-services .block-menu ul li a {
    font-size: 15px; }
  
  .more-link,
  a.more-link,
  .page-search .node-readmore a {
    display: inline-block;
    clear: both;
    line-height: 1.4em;
    text-align: left;
    text-transform: none;
    letter-spacing: .02em;
    font-weight: 400;
    font-size: 16px; }
  
  .btn-success:hover,
  .btn-success:focus,
  .btn-success:active,
  .btn-success.active,
  .btn-success.disabled,
  .btn-success[disabled] {
    color: #fff;
    background-color: #51a351; }
  
  /* ----- Service Categories ----- */
  .sidebar .view-catalog-categories ul.menu li a:hover,
  .sidebar .view-catalog-categories ul.menu li a:focus,
  .sidebar .view-catalog-categories ul.menu li a:active,
  .sidebar .view-catalog-categories ul.menu li a.active {
    background-color: #f2f1eb;
    color: #2E2D29;
    text-decoration: none; }
  
  .sidebar .block-menu,
  .sidebar .block-menu-block {
    background: transparent; }
  
  .sidebar .view-catalog-categories ul.menu li {
    font-weight: 400; }
  
  .view-catalog-category .views-field-title h2 {
    padding-top: 0.2em; }
  
  .view-catalog-category .views-field-field-catalog-entry-link a:hover,
  .view-catalog-category .views-field-field-catalog-entry-link a:active {
    color: #820000; }
  
  /* ----- Bootstrap Tabs ----- */
  #main ul.nav > li > a {
    color: #8C1515; }
  
  #main ul.nav-tabs > li > a {
    padding: 5px 15px; }
  
  #main .nav-tabs > .active > a,
  #main .nav-tabs > .active > a:hover,
  #main .nav-tabs > .active > a:focus {
    background-color: #fff; }
  
  ul.nav li,
  ul.nav li.leaf {
    list-style-image: none;
    list-style-type: none; }
  
  .content-body .nav-tabs > li {
    margin-bottom: -1px; }
  
  /* ----- Breadcrumb ----- */
  .node-type-service-information #block-menu-block-5 ul.nav > li > a {
    font-weight: 300; }
  
  /* ----- On this page ----- */
  #onthispage h1,
  #onthispage h2,
  #onthispage h3,
  #onthispage h4 {
    font-weight: 400; }
  
  #onthispage li:before {
    font-weight: 300; }
  
  #onthispage li:first-child:before {
    font-weight: 300; }
  
  #onthispage a {
    font-weight: 300; }
  
  /* ----- Service Menu ----- */
  .sidebar .block-menu-block .content .menu > li.last > ul {
    border-radius: 0 0 10px 10px; }
  
  .sidebar .block-menu-block .content .menu li a[href$='.pdf'] {
    background-image: none; }
  
  /* Wide Viewport */
  @media (min-width: 1440px) {
    .container {
      width: 1400px; }
    .fullwidth .container {
      width: 100%; }
    .span12 {
      width: 1400px; }
    .span11 {
      width: 1254px; }
    .span10 {
      width: 1140px; }
    .span9 {
      width: 1026px; }
    .span8 {
      width: 912px; }
    .span7 {
      width: 798px; }
    .span6 {
      width: 684px; }
    .span5 {
      width: 570px; }
    .span4 {
      width: 456px; }
    .span3 {
      width: 342px; }
    .span2 {
      width: 228px; }
    .span1 {
      width: 114px; }
    .offset10 {
      margin-left: 1440px; }
    .offset9 {
      margin-left: 1296px; }
    .offset8 {
      margin-left: 1152px; }
    .offset7 {
      margin-left: 1008px; }
    .offset6 {
      margin-left: 864px; }
    .offset5 {
      margin-left: 720px; }
    .offset4 {
      margin-left: 576px; }
    .offset3 {
      margin-left: 432px; }
    .offset2 {
      margin-left: 288px; }
    .offset1 {
      margin-left: 144px; } }
  
  /* Main */
  @media (min-width: 768px) {
    #main > .container {
      margin: 30px auto 0 auto; } }
  
  @media (max-width: 630px) {
    #main-content .carousel img {
      border: none; } }
  
  /* Alert Banner */
  #fullwidth-top .alert {
    margin: 30px 0;
    box-sizing: border-box; }
    @media (min-width: 1440px) {
      #fullwidth-top .alert {
        width: 1400px; } }
    @media (min-width: 1200px) and (max-width: 1439px) {
      #fullwidth-top .alert {
        width: 1170px; } }
    @media (min-width: 980px) and (max-width: 1199px) {
      #fullwidth-top .alert {
        width: 940px; } }
    @media (min-width: 768px) and (max-width: 979px) {
      #fullwidth-top .alert {
        width: 724px; } }
    @media (max-width: 767px) {
      #fullwidth-top .alert {
        margin: 10px;
        width: auto; } }
  
  @media (min-width: 768px) {
    .front #fullwidth-top {
      position: relative; }
    .front #fullwidth-top .alert {
      position: absolute;
      top: 140px;
      z-index: 999; } }
  
  /* ----- Body Background ----- */
  .header,
  .main {
    background: transparent; }
  
  .dropdown-menu .active > a:hover {
    background-color: #fff; }
  
  .bodybg .content-wrapper,
  .bodybg .sidebar .region {
    padding: 0px;
    background: tranparent;
    background-color: transparent; }
  
  .bodybg .sidebar .region,
  .bodybg .content-wrapper,
  .bodybg .navbar-inner {
    background: transparent; }
  
  .bodybg #name-and-slogan.two-lines .site-name,
  .bodybg #name-and-slogan.two-lines .site-slogan {
    float: left; }
  
  .bodybg #name-and-slogan.two-lines .site-name {
    margin-top: 0; }
  
  .bodybg #name-and-slogan.two-lines .site-slogan {
    margin: 5px 0 0 10px; }
  
  .bodybg #footer {
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #e9e6df; }
  
  .bodybg #footer .block {
    border-top: none; }
  
  @media (max-width: 767px) {
    .bodybg .navbar .nav > .active > a,
    .bodybg .navbar .nav > .active-trail > a,
    .bodybg .navbar .nav > .active > a:hover,
    .bodybg .navbar .nav > .active-trail > a:hover,
    .bodybg .navbar .nav > .active > a:focus,
    .bodybg .navbar .nav > .active-trail > a:focus,
    .bodybg .navbar .nav li.dropdown.open > .dropdown-toggle,
    .bodybg .navbar .nav li.dropdown.active > .dropdown-toggle,
    .bodybg .navbar .nav li.dropdown.open.active > .dropdown-toggle,
    .bodybg .nav-collapse .nav > li > a:hover,
    .bodybg .nav-collapse .dropdown-menu a:hover,
    .bodybg .navbar .nav > li > ul.dropdown-menu > li > a:hover,
    .bodybg .dropdown-menu .active > a,
    .bodybg .dropdown-menu .active > a:hover {
      background-color: #fff; } }
  
  /* ----- Header ----- */
  #header {
    background: #fff;
    padding: 30px 0 20px 0;
    border-top: 3px solid #8c1515;
    min-height: auto;
    width: 100%; }
    #header #logo img,
    #header #logo svg {
      width: 179px;
      height: 41px;
      vertical-align: bottom;
      transition: all 0.5s ease; }
    #header #logo svg .logo {
      fill: #8c1515; }
    #header .site-name {
      margin-left: 0; }
    #header #name-and-slogan,
    #header #site-slogan,
    #header .navbar .nav > li > a {
      transition: all 0.5s ease; }
    #header #site-name,
    #header #site-title-first-line,
    #header #site-title-second-line {
      font-size: 31px;
      color: #3f3c30;
      line-height: 1.2em;
      transition: all 0.5s ease; }
      #header #site-name a,
      #header #site-title-first-line a,
      #header #site-title-second-line a {
        font-weight: 400;
        letter-spacing: -0.02em; }
    #header #site-slogan {
      font-weight: 400; }
    #header .row-fluid [class*="span"] {
      min-height: 0; }
    #header .span8 {
      text-align: right; }
    #header ul.menu li {
      margin: 0; }
    @media (min-width: 768px) {
      #header #header-nav,
      #header #main-nav {
        display: inline-block; }
      #header .span8 {
        margin-bottom: 5px; } }
    @media (min-width: 768px) and (max-width: 1199px) {
      #header [class*="span"] {
        width: 100%;
        margin-left: 0; }
      #header .span8 {
        margin-top: 10px; } }
    @media (max-width: 1199px) {
      #header [class*="span"] {
        text-align: left; }
      #header .navbar {
        width: 100%; } }
    @media (min-width: 481px) and (max-width: 767px) {
      #header #logo,
      #header #logo.logo-mobile {
        padding-right: 6px; }
        #header #logo img,
        #header #logo svg,
        #header #logo.logo-mobile img,
        #header #logo.logo-mobile svg {
          height: 27px;
          width: 120px;
          vertical-align: bottom; }
      #header #name-and-slogan.with-logo {
        padding-left: 6px; }
      #header #site-name,
      #header #site-title-first-line,
      #header #site-title-second-line {
        font-size: 24px; } }
    @media (max-width: 480px) {
      #header #logo,
      #header #logo.logo-mobile {
        padding-right: 4px; }
        #header #logo img,
        #header #logo svg,
        #header #logo.logo-mobile img,
        #header #logo.logo-mobile svg {
          height: 23px;
          width: 105px;
          vertical-align: bottom; }
      #header #name-and-slogan.with-logo {
        padding-left: 4px; }
      #header #site-name,
      #header #site-title-first-line,
      #header #site-title-second-line {
        font-size: 21px; } }
  
  @media (max-width: 767px) {
    #header {
      padding: 12px 0 5px 0;
      background: #f4f4f4; } }
  
  @media (min-width: 768px) {
    #header .navbar {
      margin-top: 14px; }
    #header.shrink .navbar {
      margin-top: 0; } }
  
  /* Mobile */
  @media (max-width: 480px) {
    #header #logo.logo-mobile,
    #name-and-slogan {
      display: table-cell; }
    #header #logo.logo-mobile {
      border-right: 1px solid #2E2D29 !important; } }
  
  /* Admin Menu */
  #admin-menu {
    min-height: 29px; }
  
  .admin-menu .header {
    border-top: none; }
  
  /* Front Page */
  body.front,
  body.node-type-home-page-banner {
    /* Primary Navigation */ }
    @media (min-width: 768px) {
      body.front #header,
      body.node-type-home-page-banner #header {
        background: #fff;
        width: 100%;
        padding: 35px 0;
        border-bottom: none; }
        body.front #header nav,
        body.node-type-home-page-banner #header nav {
          margin-top: 13px; }
          body.front #header nav .badge,
          body.node-type-home-page-banner #header nav .badge {
            font-size: 0.8em;
            padding: 4px 9px; }
        body.front #header .navbar,
        body.node-type-home-page-banner #header .navbar {
          margin-top: 0; }
        body.front #header .navbar .nav > li:first-child > a,
        body.node-type-home-page-banner #header .navbar .nav > li:first-child > a {
          margin-left: 0; }
      body.front #header.shrink,
      body.node-type-home-page-banner #header.shrink {
        background: linear-gradient(#fff 0%, #fff 100%);
        padding: 5px 0;
        box-shadow: 0px 2px 15px #999; }
        body.front #header.shrink .container > .row-fluid > .span4,
        body.node-type-home-page-banner #header.shrink .container > .row-fluid > .span4 {
          margin-top: 6px; }
        body.front #header.shrink #logo,
        body.node-type-home-page-banner #header.shrink #logo {
          padding-right: 6px; }
        body.front #header.shrink #logo img,
        body.front #header.shrink #logo svg,
        body.node-type-home-page-banner #header.shrink #logo img,
        body.node-type-home-page-banner #header.shrink #logo svg {
          height: 27px;
          width: 120px;
          vertical-align: bottom; }
        body.front #header.shrink #name-and-slogan.with-logo,
        body.node-type-home-page-banner #header.shrink #name-and-slogan.with-logo {
          padding-left: 6px; }
        body.front #header.shrink #site-name,
        body.front #header.shrink #site-title-first-line,
        body.front #header.shrink #site-title-second-line,
        body.node-type-home-page-banner #header.shrink #site-name,
        body.node-type-home-page-banner #header.shrink #site-title-first-line,
        body.node-type-home-page-banner #header.shrink #site-title-second-line {
          font-size: 24px; }
        body.front #header.shrink nav,
        body.node-type-home-page-banner #header.shrink nav {
          margin-top: 0px; }
          body.front #header.shrink nav .badge,
          body.node-type-home-page-banner #header.shrink nav .badge {
            font-size: 0.8em;
            padding: 2px 9px 3px 9px; }
        body.front #header.shrink .navbar .nav > li > a,
        body.node-type-home-page-banner #header.shrink .navbar .nav > li > a {
          font-size: 16px; }
      body.front #header.inverse:not(.shrink),
      body.node-type-home-page-banner #header.inverse:not(.shrink) {
        background: linear-gradient(#000 0%, transparent 100%); }
        body.front #header.inverse:not(.shrink) #logo,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #logo {
          border-right: 1px solid #fff; }
        body.front #header.inverse:not(.shrink) #site-name,
        body.front #header.inverse:not(.shrink) #site-slogan,
        body.front #header.inverse:not(.shrink) #site-name a,
        body.front #header.inverse:not(.shrink) #site-name a:hover,
        body.front #header.inverse:not(.shrink) #site-name a:focus,
        body.front #header.inverse:not(.shrink) .navbar .nav > li > a,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #site-name,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #site-slogan,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #site-name a,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #site-name a:hover,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #site-name a:focus,
        body.node-type-home-page-banner #header.inverse:not(.shrink) .navbar .nav > li > a {
          color: #fff; }
        body.front #header.inverse:not(.shrink) .navbar .nav > li > a:hover,
        body.front #header.inverse:not(.shrink) .navbar .nav > li > a:focus,
        body.node-type-home-page-banner #header.inverse:not(.shrink) .navbar .nav > li > a:hover,
        body.node-type-home-page-banner #header.inverse:not(.shrink) .navbar .nav > li > a:focus {
          border-bottom: 2px solid #fff; }
        body.front #header.inverse:not(.shrink) .navbar .nav li.dropdown > a .caret,
        body.front #header.inverse:not(.shrink) .navbar .nav li.dropdown > a:hover .caret,
        body.front #header.inverse:not(.shrink) .navbar .nav li.dropdown > a:focus .caret,
        body.node-type-home-page-banner #header.inverse:not(.shrink) .navbar .nav li.dropdown > a .caret,
        body.node-type-home-page-banner #header.inverse:not(.shrink) .navbar .nav li.dropdown > a:hover .caret,
        body.node-type-home-page-banner #header.inverse:not(.shrink) .navbar .nav li.dropdown > a:focus .caret {
          border-top-color: #fff;
          border-bottom-color: #fff; }
        body.front #header.inverse:not(.shrink) #search-icon,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #search-icon {
          border-left: 1px solid #fff; }
        body.front #header.inverse:not(.shrink) #search-icon button,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #search-icon button {
          background: url(/web/20230822001132im_/https://uit.stanford.edu/sites/all/themes/stanford_uit/images/magnifying-glass-white.png) no-repeat center; }
        body.front #header.inverse:not(.shrink) #google-search.active #search-icon button,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #google-search.active #search-icon button {
          background: url(/web/20230822001132im_/https://uit.stanford.edu/sites/all/themes/stanford_uit/images/magnifying-glass.png) no-repeat center; }
        body.front #header.inverse:not(.shrink) #logo svg .logo,
        body.node-type-home-page-banner #header.inverse:not(.shrink) #logo svg .logo {
          fill: #fff; }
      body.front .navbar .nav > .active > a,
      body.front .navbar .nav > .active > a:hover,
      body.front .navbar .nav > .active > a:focus,
      body.front .navbar .nav > li > a:focus,
      body.front .navbar .nav > li > a:hover,
      body.front .navbar .nav > .active-trail > a,
      body.node-type-home-page-banner .navbar .nav > .active > a,
      body.node-type-home-page-banner .navbar .nav > .active > a:hover,
      body.node-type-home-page-banner .navbar .nav > .active > a:focus,
      body.node-type-home-page-banner .navbar .nav > li > a:focus,
      body.node-type-home-page-banner .navbar .nav > li > a:hover,
      body.node-type-home-page-banner .navbar .nav > .active-trail > a {
        border-bottom: 2px solid #3f3c30; } }
    @media (min-width: 1440px) {
      body.front #header .navbar .nav > li > a,
      body.node-type-home-page-banner #header .navbar .nav > li > a {
        font-size: 20px; } }
    @media (min-width: 768px) and (max-width: 1439px) {
      body.front #header .navbar .nav > li > a,
      body.node-type-home-page-banner #header .navbar .nav > li > a {
        font-size: 18px; } }
    body.front #search-icon,
    body.node-type-home-page-banner #search-icon {
      border-left: 1px solid #3f3c30; }
    body.front .dropdown-menu > li > a,
    body.node-type-home-page-banner .dropdown-menu > li > a {
      padding: 3px 10px; }
    @media (min-width: 768px) {
      body.front #header,
      body.node-type-home-page-banner #header {
        position: fixed;
        z-index: 100;
        padding: 35px 0 20vh 0;
        background: linear-gradient(#8c1515 0%, #8c1515 3px, #fff 4px, transparent 100%);
        border: none; } }
    @media (max-width: 767px) {
      body.front #header,
      body.node-type-home-page-banner #header {
        background: linear-gradient(#fff 0%, #fff 100%); } }
  
  @media (min-width: 768px) {
    .not-front #header.shrink,
    .not-front:not(.node-type-home-page-banner) #header.shrink {
      position: fixed;
      z-index: 100;
      background: linear-gradient(#fff 0%, #fff 100%);
      padding: 5px 0;
      box-shadow: 0px 2px 15px #999; }
      .not-front #header.shrink .container > .row-fluid > .span4,
      .not-front:not(.node-type-home-page-banner) #header.shrink .container > .row-fluid > .span4 {
        margin-top: 6px; }
      .not-front #header.shrink #logo,
      .not-front:not(.node-type-home-page-banner) #header.shrink #logo {
        padding-right: 6px; }
      .not-front #header.shrink #logo img,
      .not-front #header.shrink #logo svg,
      .not-front:not(.node-type-home-page-banner) #header.shrink #logo img,
      .not-front:not(.node-type-home-page-banner) #header.shrink #logo svg {
        height: 27px;
        width: 120px;
        vertical-align: bottom; }
      .not-front #header.shrink #name-and-slogan.with-logo,
      .not-front:not(.node-type-home-page-banner) #header.shrink #name-and-slogan.with-logo {
        padding-left: 6px; }
      .not-front #header.shrink #site-name,
      .not-front #header.shrink #site-title-first-line,
      .not-front #header.shrink #site-title-second-line,
      .not-front:not(.node-type-home-page-banner) #header.shrink #site-name,
      .not-front:not(.node-type-home-page-banner) #header.shrink #site-title-first-line,
      .not-front:not(.node-type-home-page-banner) #header.shrink #site-title-second-line {
        font-size: 24px; }
      .not-front #header.shrink nav,
      .not-front:not(.node-type-home-page-banner) #header.shrink nav {
        margin-top: 0px; }
        .not-front #header.shrink nav .badge,
        .not-front:not(.node-type-home-page-banner) #header.shrink nav .badge {
          font-size: 0.8em;
          padding: 2px 9px 3px 9px; }
      .not-front #header.shrink .navbar .nav > li > a,
      .not-front:not(.node-type-home-page-banner) #header.shrink .navbar .nav > li > a {
        font-size: 16px; }
      .not-front #header.shrink #main-menu,
      .not-front:not(.node-type-home-page-banner) #header.shrink #main-menu {
        background: rgba(252, 252, 252, 0.7); } }
  
  body.bodybg.not-front #header,
  body.subsite-nav.not-front #header {
    background: transparent; }
    @media (min-width: 1200px) {
      body.bodybg.not-front #header .span4,
      body.subsite-nav.not-front #header .span4 {
        margin-bottom: 15px; } }
    @media (min-width: 768px) {
      body.bodybg.not-front #header,
      body.subsite-nav.not-front #header {
        padding: 25px 0 0 0; }
        body.bodybg.not-front #header #logo,
        body.subsite-nav.not-front #header #logo {
          padding-right: 6px; }
          body.bodybg.not-front #header #logo img,
          body.bodybg.not-front #header #logo svg,
          body.subsite-nav.not-front #header #logo img,
          body.subsite-nav.not-front #header #logo svg {
            height: 27px;
            width: 120px;
            vertical-align: bottom; }
        body.bodybg.not-front #header #name-and-slogan.with-logo,
        body.subsite-nav.not-front #header #name-and-slogan.with-logo {
          padding-left: 6px; }
        body.bodybg.not-front #header #site-name,
        body.bodybg.not-front #header #site-title-first-line,
        body.bodybg.not-front #header #site-title-second-line,
        body.subsite-nav.not-front #header #site-name,
        body.subsite-nav.not-front #header #site-title-first-line,
        body.subsite-nav.not-front #header #site-title-second-line {
          font-size: 24px; }
        body.bodybg.not-front #header nav,
        body.subsite-nav.not-front #header nav {
          margin-top: 0px; }
          body.bodybg.not-front #header nav .badge,
          body.subsite-nav.not-front #header nav .badge {
            font-size: 0.8em;
            padding: 2px 9px 3px 9px; }
        body.bodybg.not-front #header .navbar,
        body.subsite-nav.not-front #header .navbar {
          margin-top: 0; }
        body.bodybg.not-front #header .navbar .nav > li > a,
        body.subsite-nav.not-front #header .navbar .nav > li > a {
          font-size: 16px; } }
  
  @media (min-width: 768px) {
    body.bodybg.not-front #header.shrink,
    body.subsite-nav.not-front #header.shrink {
      padding: 5px 0 0 0; } }
  
  body.bodybg.not-front #header.shrink {
    background: linear-gradient(#fff 0%, #ccc 100%); }
  
  body.subsite-nav.not-front #header.shrink {
    background: linear-gradient(#f4f4f4 0%, #f4f4f4 100%); }
  
  body:not(.bodybg).subsite-nav.not-front #header {
    background: #f4f4f4; }
  
  .header-bkg.photobg #header {
    background-attachment: fixed !important;
    background-size: cover !important; }
  
  /* ----- Main Menu ----- */
  .navbar {
    margin-bottom: 0px; }
  
  .navbar .nav > li > a {
    border-radius: 0; }
  
  .navbar .nav > li:first-child > a {
    margin-left: 0; }
  
  .navbar .nav > li > ul.dropdown-menu > li > a {
    font-weight: 300; }
  
  .dropdown-menu > li > a,
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    border: none;
    white-space: normal; }
  
  @media (min-width: 768px) {
    .navbar .nav > li > a {
      font-size: 18px;
      font-weight: 400;
      padding: 4px 0;
      margin: 0 20px 0 0;
      text-transform: none;
      border-bottom: 2px solid transparent; }
    .navbar .nav > li.last > a {
      margin-right: 0; }
    .navbar .nav > li > ul.dropdown-menu > li > a {
      white-space: nowrap; }
    .navbar .nav > .active > a,
    .navbar .nav > .active-trail > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active-trail > a:hover,
    .navbar .nav > .active > a:focus,
    .navbar .nav > .active-trail > a:focus {
      background-color: transparent;
      box-shadow: none;
      color: #2e2d29;
      text-decoration: none; }
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus,
    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover,
    .navbar .nav > .active-trail > a {
      border-bottom: 2px solid #3f3c30; }
    .navbar .nav > li > a:hover,
    .navbar .nav > li > a:active {
      color: #2e2d29;
      background-color: transparent;
      text-decoration: none; }
    .navbar .nav li.dropdown.open > .dropdown-toggle,
    .navbar .nav li.dropdown.active > .dropdown-toggle,
    .navbar .nav li.dropdown.open.active > .dropdown-toggle {
      background-color: transparent;
      color: #2e2d29; } }
  
  @media (max-width: 767px) {
    .navbar .btn-navbar:hover,
    .navbar .btn-navbar:focus,
    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active,
    .navbar .btn-navbar.disabled,
    .navbar .btn-navbar[disabled] {
      background-color: #585754; }
    .nav-collapse .nav > li {
      width: 100%; }
    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
      font-weight: 400; }
    .btn.btn-navbar {
      position: absolute;
      right: 0;
      top: -3px;
      margin-right: 10px; }
    .navbar-inner {
      background: #f4f4f4;
      padding: 0; } }
  
  @media (max-width: 480px) {
    .btn.btn-navbar {
      position: absolute;
      right: 0;
      top: -5px; } }
  
  @media (max-width: 767px), print {
    .page-services #main-menu > .container,
    .page-taxonomy #main-menu > .container,
    .node-type-page #main-menu > .container,
    .node-type-service-page #main-menu > .container,
    .node-type-service-information #main-menu > .container,
    .node-type-software #main-menu > .container,
    .node-type-stanford-event #main-menu > .container,
    .page-announcements-security #main-menu > .container,
    .page-events-security #main-menu > .container {
      padding-left: 10px;
      padding-right: 10px; } }
  
  /* Menu Nav */
  #header-nav,
  #main-nav {
    position: relative; }
  
  #main-nav {
    width: 100%; }
  
  nav#main-nav h2 {
    position: static;
    left: 0; }
  
  .site-main-menu {
    background: transparent; }
  
  .site-main-menu ul.menu ul.dropdown-menu li {
    margin: 0px 8px;
    padding: 3px; }
  
  .nav-search {
    margin: -50px 0 -15px 0; }
  
  @media (max-width: 767px) {
    .nav-search {
      margin-top: -3px;
      margin-right: 40px; }
    #main-menu h1 {
      display: none; } }
  
  /* Menu */
  #main-menu {
    border-top: 1px solid #e9e6df;
    border-bottom: 1px solid #e9e6df;
    background: rgba(252, 252, 252, 0.7);
    margin-bottom: 0; }
    #main-menu h1,
    #main-menu h2 {
      margin: 15px 0 10px 0;
      letter-spacing: 0;
      font-size: 28px;
      border: none;
      font-weight: 300;
      color: #333; }
    #main-menu .block-menu {
      clear: both; }
      #main-menu .block-menu h2 a,
      #main-menu .block-menu h2 a:link,
      #main-menu .block-menu h2 a:visited {
        color: #333; }
      #main-menu .block-menu h2 a:hover,
      #main-menu .block-menu h2 a:active,
      #main-menu .block-menu h2 a:focus {
        color: #820000; }
    #main-menu .navbar .nav > li > a {
      font-size: 1em;
      font-weight: 400; }
  
  .header-bkg #main-menu,
  body.subsite-nav #main-menu {
    padding-top: 0px; }
  
  @media (max-width: 767px) {
    #main-menu #main-nav .block {
      position: relative; }
    #header-menu {
      margin-top: 10px;
      background: rgba(252, 252, 252, 0.7);
      box-sizing: border-box; }
    #main-menu {
      border: none;
      margin: 0 10px 10px 10px;
      background: rgba(252, 252, 252, 0.7);
      box-sizing: border-box; }
    #main-menu h2 {
      margin-left: 8px;
      margin-right: 8px;
      font-size: 1.25em;
      font-weight: 400; }
    #header-nav {
      padding: 10px;
      box-sizing: border-box; } }
  
  /* Desktop View */
  @media (min-width: 768px) {
    nav h2 {
      position: static;
      left: 0; }
    #main-nav .block-menu {
      width: 100%; }
    #main-menu h2 {
      float: left;
      margin: 10px 0 0 0; }
    #main-nav .block-menu > .contextual-link-wrapper {
      float: right; }
    #main-nav .block-menu > .content {
      float: right;
      margin-top: 10px; }
    .navbar .nav > li > a {
      margin: 0 0 0 20px; }
    #main-nav .block-menu .dropdown-menu {
      left: initial;
      right: 0; }
    .navbar {
      margin-bottom: 0px; } }
  
  /* Mobile View */
  @media (max-width: 767px), print {
    .page-services #main-menu > .container,
    .page-taxonomy #main-menu > .container,
    .node-type-page #main-menu > .container,
    .node-type-service-page #main-menu > .container,
    .node-type-service-information #main-menu > .container,
    .node-type-software #main-menu > .container,
    .node-type-stanford-event #main-menu > .container,
    .page-announcements-security #main-menu > .container,
    .page-events-security #main-menu > .container {
      padding-left: 10px;
      padding-right: 10px; } }
  
  /* Breadcrumb */
  #main-upper .block {
    margin-bottom: 0; }
  
  #main-upper .breadcrumb {
    font-size: 25px;
    line-height: 28px;
    font-weight: 300;
    padding-top: 10px;
    margin: 0 0 10px 0; }
  
  @media (min-width: 768px) {
    #main-upper .breadcrumb {
      padding: 0px 30px; } }
  
  /* ----- Content Body ----- */
  .page-services,
  .page-taxonomy,
  .node-type-page,
  .node-type-service-page,
  .node-type-service-information,
  .node-type-class,
  .node-type-instructor,
  .node-type-software,
  .node-type-hardware,
  .node-type-stanford-event,
  .node-type-announcement,
  .page-announcements-security,
  .page-events-security {
    /* background: linear-gradient(to bottom, #f4f4f4 0%, #f4f4f4 40%, #fff 80%) no-repeat; */ }
    .page-services #main > .container,
    .page-taxonomy #main > .container,
    .node-type-page #main > .container,
    .node-type-service-page #main > .container,
    .node-type-service-information #main > .container,
    .node-type-class #main > .container,
    .node-type-instructor #main > .container,
    .node-type-software #main > .container,
    .node-type-hardware #main > .container,
    .node-type-stanford-event #main > .container,
    .node-type-announcement #main > .container,
    .page-announcements-security #main > .container,
    .page-events-security #main > .container {
      background-color: white;
      padding-top: 30px; }
    .page-services #main-top,
    .page-taxonomy #main-top,
    .node-type-page #main-top,
    .node-type-service-page #main-top,
    .node-type-service-information #main-top,
    .node-type-class #main-top,
    .node-type-instructor #main-top,
    .node-type-software #main-top,
    .node-type-hardware #main-top,
    .node-type-stanford-event #main-top,
    .node-type-announcement #main-top,
    .page-announcements-security #main-top,
    .page-events-security #main-top {
      padding: 0 30px; }
    .page-services #content-title,
    .page-taxonomy #content-title,
    .node-type-page #content-title,
    .node-type-service-page #content-title,
    .node-type-service-information #content-title,
    .node-type-class #content-title,
    .node-type-instructor #content-title,
    .node-type-software #content-title,
    .node-type-hardware #content-title,
    .node-type-stanford-event #content-title,
    .node-type-announcement #content-title,
    .page-announcements-security #content-title,
    .page-events-security #content-title {
      margin-bottom: 0; }
    .page-services #content-title h1,
    .page-taxonomy #content-title h1,
    .node-type-page #content-title h1,
    .node-type-service-page #content-title h1,
    .node-type-service-information #content-title h1,
    .node-type-class #content-title h1,
    .node-type-instructor #content-title h1,
    .node-type-software #content-title h1,
    .node-type-hardware #content-title h1,
    .node-type-stanford-event #content-title h1,
    .node-type-announcement #content-title h1,
    .page-announcements-security #content-title h1,
    .page-events-security #content-title h1 {
      padding: 0px 30px 10px 30px; }
    .page-services #content-wrapper,
    .page-taxonomy #content-wrapper,
    .node-type-page #content-wrapper,
    .node-type-service-page #content-wrapper,
    .node-type-service-information #content-wrapper,
    .node-type-class #content-wrapper,
    .node-type-instructor #content-wrapper,
    .node-type-software #content-wrapper,
    .node-type-hardware #content-wrapper,
    .node-type-stanford-event #content-wrapper,
    .node-type-announcement #content-wrapper,
    .page-announcements-security #content-wrapper,
    .page-events-security #content-wrapper {
      padding: 0 30px; }
    .page-services .region-sidebar-first,
    .page-taxonomy .region-sidebar-first,
    .node-type-page .region-sidebar-first,
    .node-type-service-page .region-sidebar-first,
    .node-type-service-information .region-sidebar-first,
    .node-type-class .region-sidebar-first,
    .node-type-instructor .region-sidebar-first,
    .node-type-software .region-sidebar-first,
    .node-type-hardware .region-sidebar-first,
    .node-type-stanford-event .region-sidebar-first,
    .node-type-announcement .region-sidebar-first,
    .page-announcements-security .region-sidebar-first,
    .page-events-security .region-sidebar-first {
      margin-left: 30px; }
    .page-services .region-sidebar-second,
    .page-taxonomy .region-sidebar-second,
    .node-type-page .region-sidebar-second,
    .node-type-service-page .region-sidebar-second,
    .node-type-service-information .region-sidebar-second,
    .node-type-class .region-sidebar-second,
    .node-type-instructor .region-sidebar-second,
    .node-type-software .region-sidebar-second,
    .node-type-hardware .region-sidebar-second,
    .node-type-stanford-event .region-sidebar-second,
    .node-type-announcement .region-sidebar-second,
    .page-announcements-security .region-sidebar-second,
    .page-events-security .region-sidebar-second {
      margin-right: 30px; }
    .page-services #content-body > .region-content,
    .page-taxonomy #content-body > .region-content,
    .node-type-page #content-body > .region-content,
    .node-type-service-page #content-body > .region-content,
    .node-type-service-information #content-body > .region-content,
    .node-type-class #content-body > .region-content,
    .node-type-instructor #content-body > .region-content,
    .node-type-software #content-body > .region-content,
    .node-type-hardware #content-body > .region-content,
    .node-type-stanford-event #content-body > .region-content,
    .node-type-announcement #content-body > .region-content,
    .page-announcements-security #content-body > .region-content,
    .page-events-security #content-body > .region-content {
      margin-bottom: 0; }
    @media (max-width: 767px), print {
      .page-services #main,
      .page-taxonomy #main,
      .node-type-page #main,
      .node-type-service-page #main,
      .node-type-service-information #main,
      .node-type-class #main,
      .node-type-instructor #main,
      .node-type-software #main,
      .node-type-hardware #main,
      .node-type-stanford-event #main,
      .node-type-announcement #main,
      .page-announcements-security #main,
      .page-events-security #main {
        padding-top: 0;
        margin-bottom: 0; }
      .page-services #main > .container,
      .page-taxonomy #main > .container,
      .node-type-page #main > .container,
      .node-type-service-page #main > .container,
      .node-type-service-information #main > .container,
      .node-type-class #main > .container,
      .node-type-instructor #main > .container,
      .node-type-software #main > .container,
      .node-type-hardware #main > .container,
      .node-type-stanford-event #main > .container,
      .node-type-announcement #main > .container,
      .page-announcements-security #main > .container,
      .page-events-security #main > .container {
        border: 0px;
        border-radius: 0px;
        padding-top: 10px; }
      .page-services #main-menu > .container,
      .page-taxonomy #main-menu > .container,
      .node-type-page #main-menu > .container,
      .node-type-service-page #main-menu > .container,
      .node-type-service-information #main-menu > .container,
      .node-type-class #main-menu > .container,
      .node-type-instructor #main-menu > .container,
      .node-type-software #main-menu > .container,
      .node-type-hardware #main-menu > .container,
      .node-type-stanford-event #main-menu > .container,
      .node-type-announcement #main-menu > .container,
      .page-announcements-security #main-menu > .container,
      .page-events-security #main-menu > .container {
        padding: 0; }
      .page-services #main-top,
      .page-taxonomy #main-top,
      .node-type-page #main-top,
      .node-type-service-page #main-top,
      .node-type-service-information #main-top,
      .node-type-class #main-top,
      .node-type-instructor #main-top,
      .node-type-software #main-top,
      .node-type-hardware #main-top,
      .node-type-stanford-event #main-top,
      .node-type-announcement #main-top,
      .page-announcements-security #main-top,
      .page-events-security #main-top {
        padding: 10px 0 0 0; }
      .page-services #content-title h1,
      .page-taxonomy #content-title h1,
      .node-type-page #content-title h1,
      .node-type-service-page #content-title h1,
      .node-type-service-information #content-title h1,
      .node-type-class #content-title h1,
      .node-type-instructor #content-title h1,
      .node-type-software #content-title h1,
      .node-type-hardware #content-title h1,
      .node-type-stanford-event #content-title h1,
      .node-type-announcement #content-title h1,
      .page-announcements-security #content-title h1,
      .page-events-security #content-title h1 {
        padding: 0px; }
      .page-services #content-wrapper,
      .page-taxonomy #content-wrapper,
      .node-type-page #content-wrapper,
      .node-type-service-page #content-wrapper,
      .node-type-service-information #content-wrapper,
      .node-type-class #content-wrapper,
      .node-type-instructor #content-wrapper,
      .node-type-software #content-wrapper,
      .node-type-hardware #content-wrapper,
      .node-type-stanford-event #content-wrapper,
      .node-type-announcement #content-wrapper,
      .page-announcements-security #content-wrapper,
      .page-events-security #content-wrapper {
        padding: 0; }
      .page-services .region-sidebar-first,
      .page-taxonomy .region-sidebar-first,
      .node-type-page .region-sidebar-first,
      .node-type-service-page .region-sidebar-first,
      .node-type-service-information .region-sidebar-first,
      .node-type-class .region-sidebar-first,
      .node-type-instructor .region-sidebar-first,
      .node-type-software .region-sidebar-first,
      .node-type-hardware .region-sidebar-first,
      .node-type-stanford-event .region-sidebar-first,
      .node-type-announcement .region-sidebar-first,
      .page-announcements-security .region-sidebar-first,
      .page-events-security .region-sidebar-first {
        margin-left: 0px; }
      .page-services .region-sidebar-second,
      .page-taxonomy .region-sidebar-second,
      .node-type-page .region-sidebar-second,
      .node-type-service-page .region-sidebar-second,
      .node-type-service-information .region-sidebar-second,
      .node-type-class .region-sidebar-second,
      .node-type-instructor .region-sidebar-second,
      .node-type-software .region-sidebar-second,
      .node-type-hardware .region-sidebar-second,
      .node-type-stanford-event .region-sidebar-second,
      .node-type-announcement .region-sidebar-second,
      .page-announcements-security .region-sidebar-second,
      .page-events-security .region-sidebar-second {
        margin-right: 0px; }
      .page-services #footer,
      .page-taxonomy #footer,
      .node-type-page #footer,
      .node-type-service-page #footer,
      .node-type-service-information #footer,
      .node-type-class #footer,
      .node-type-instructor #footer,
      .node-type-software #footer,
      .node-type-hardware #footer,
      .node-type-stanford-event #footer,
      .node-type-announcement #footer,
      .page-announcements-security #footer,
      .page-events-security #footer {
        padding: 0px 0px 30px 0px !important; } }
  
  @media (min-width: 768px) {
    #block-views-updated-date-block {
      margin-bottom: 0; } }
  
  .descriptor {
    font-size: 18px;
    font-weight: 400; }
  
  .page-announcements .view-announcements .view-content article {
    background: #fbfbf9; }
  
  .node-type-service-page .breadcrumb {
    font-size: 25px;
    font-weight: 300;
    margin: 5px 0 10px 0; }
  
  .content .section:before,
  .content article h2[id]:before {
    display: block;
    content: " ";
    visibility: hidden;
    pointer-events: none; }
  
  @media (min-width: 1200px) {
    .content .section:before {
      margin-top: -170px;
      padding-top: 170px; }
    .content article h2[id]:before {
      margin-top: -70px;
      padding-top: 70px; }
    body.admin-menu .content .section:before {
      margin-top: -200px;
      padding-top: 200px; }
    body.admin-menu .content article h2[id]:before {
      margin-top: -100px;
      padding-top: 100px; }
    body.subsite-nav .content .section:before {
      margin-top: -210px;
      padding-top: 210px; }
    body.subsite-nav .content article h2[id]:before {
      margin-top: -110px;
      padding-top: 110px; }
    body.admin-menu.subsite-nav .content .section:before {
      margin-top: -240px;
      padding-top: 240px; }
    body.admin-menu.subsite-nav .content article h2[id]:before {
      margin-top: -140px;
      padding-top: 140px; } }
  
  @media (min-width: 980px) and (max-width: 1199px) {
    .content .section:before {
      margin-top: -210px;
      padding-top: 210px; }
    .content article h2[id]:before {
      margin-top: -110px;
      padding-top: 110px; }
    body.admin-menu .content .section:before {
      margin-top: -240px;
      padding-top: 240px; }
    body.admin-menu .content article h2[id]:before {
      margin-top: -140px;
      padding-top: 140px; }
    body.subsite-nav .content .section:before {
      margin-top: -255px;
      padding-top: 255px; }
    body.subsite-nav .content article h2[id]:before {
      margin-top: -155px;
      padding-top: 155px; }
    body.admin-menu.subsite-nav .content .section:before {
      margin-top: -285px;
      padding-top: 285px; }
    body.admin-menu.subsite-nav .content article h2[id]:before {
      margin-top: -185px;
      padding-top: 185px; } }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .content .section:before {
      margin-top: -210px;
      padding-top: 210px; }
    .content article h2[id]:before {
      margin-top: -110px;
      padding-top: 110px; }
    body.admin-menu .content .section:before {
      margin-top: -240px;
      padding-top: 240px; }
    body.admin-menu .content article h2[id]:before {
      margin-top: -140px;
      padding-top: 140px; }
    body.subsite-nav .content .section:before {
      margin-top: -295px;
      padding-top: 295px; }
    body.subsite-nav .content article h2[id]:before {
      margin-top: -195px;
      padding-top: 195px; }
    body.admin-menu.subsite-nav .content .section:before {
      margin-top: -325px;
      padding-top: 325px; }
    body.admin-menu.subsite-nav .content article h2[id]:before {
      margin-top: -225px;
      padding-top: 225px; } }
  
  @media (max-width: 767px) {
    .content .section:before,
    .content article h2[id]:before {
      margin-top: -10px;
      padding-top: 10px; }
    body.admin-menu .content .section:before,
    body.admin-menu .content article h2[id]:before {
      margin-top: -80px;
      padding-top: 80px; } }
  
  /* ----- Fat Footer ------------------ */
  #footer {
    background-color: transparent;
    padding: 0 0 50px 0;
    margin-bottom: 0;
    font-weight: normal; }
  
  #footer .block {
    margin-top: 0; }
  
  #footer h2 {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px 0 0.8em 0;
    padding-top: 10px;
    color: #8c1515;
    font-weight: 600; }
  
  #footer h2 a {
    color: #8c1515;
    font-weight: 600; }
  
  #footer ul li a,
  #footer ul li a.active {
    color: #736C51; }
  
  #footer ul {
    font-size: 14px;
    margin: 0; }
  
  #footer ul li {
    list-style: none outside none;
    margin: 0 0 0.6em;
    padding: 0;
    line-height: 1em; }
  
  #footer ul li a:hover,
  #footer h2 a:hover,
  #footer ul li a:focus,
  #footer h2 a:focus {
    color: #2e2d29; }
  
  #footer .nav > li > a:hover,
  #footer .nav > li > a:focus {
    background-color: transparent; }
  
  #footer a {
    border: none;
    font-weight: normal; }
  
  @media (min-width: 980px) {
    .not-logged-in .footer-content .block.span2,
    .not-logged-in .footer-content .block.span3,
    .not-logged-in .footer-content .block.span4 {
      float: left;
      margin-left: 0;
      margin-right: 2%;
      width: 18.4%; }
    .not-logged-in .footer-content .block.span2:last-child,
    .not-logged-in .footer-content .block.span3:last-child,
    .not-logged-in .footer-content .block.span4:last-child {
      margin-right: 0; } }
  
  .block-webauth #webauth_login_url,
  .block-stanford-saml-block {
    font-size: 14px;
    line-height: 1em; }
  
  /* Front Page, News, and Events */
  body.front #footer,
  body.node-type-home-page-banner #footer,
  .page-news #footer,
  .node-type-news #footer,
  .page-events #footer {
    background: #fff; }
  
  /*# sourceMappingURL=stanford_uit_custom.css.map */
  /*
       FILE ARCHIVED ON 00:11:32 Aug 22, 2023 AND RETRIEVED FROM THE
       INTERNET ARCHIVE ON 18:35:42 Mar 07, 2025.
       JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
       ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
       SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
    captures_list: 0.675
    exclusion.robots: 0.029
    exclusion.robots.policy: 0.017
    esindex: 0.012
    cdx.remote: 7.983
    LoadShardBlock: 286.509 (3)
    PetaboxLoader3.datanode: 112.199 (5)
    PetaboxLoader3.resolve: 500.048 (3)
    load_resource: 349.249 (2)
  */